@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
        

@layer base {
    body 
    font-family: 'Lora', serif;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
     
